html,body{padding:0;margin:0;font:100% "Helvetica Neue",sans-serif;color:#333}
html{background:#fff url("/images/background.png")}
h1{font-weight:bold;letter-spacing:-1px}
nav{margin-left:16px;width:184px;float:left;ul}
nav p{font-size:.75em}
#content{position:absolute;top:0;left:200px;right:0;bottom:0}
